* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white;
}


.navbar {
    background-color: #007bff; /* Navbar background color */
    padding: 1rem;
    width: 100%; /* Optional width for a more compact look */
}
.nav-link, .dropdown-item {
    color: white !important; /* Set link color to white */
}
.dropdown-menu {
    background-color: #0056b3; /* Dropdown background color */
}
.dropdown-item:hover {
    background-color: #004085; /* Hover effect for dropdown items */
    color: #fff !important;
}
/* Adjust vertical position */
.navbar-container {
    margin-top: 100px; /* Adjust this value to move the navbar up or down */
}


.cover {
    width: 100%;
    height: 20em;
    text-align: center;
    background-image: url('../picture/sectionOne/cover.jpg');
    /* background-color: #eed8d8; */
    background-size: cover; 
    background-position: center;
    /* color: rgb(7, 2, 2); */
 
}

.hero{
    display: flex;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    margin-top: 30px;     
    color: white;  
}


.highlight {
    color: red;
    font-weight: bold;
}


.custom-btn {
    background-color: #dc3545; /* Initial background color */
    color: white; /* Initial font color */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Hover Effects */
.custom-btn:hover {
    background-color: white; /* Background changes to white */
    color: black; /* Font changes to black */
}

.checkmark {
    color: red;
    margin-right: 5px;
}

.carousel-item img {
    max-height: 150px; /* Adjust height to fit */
    object-fit: contain;
    margin: auto; /* Center images */
}