
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white;
}


.navbar {
    background-color: #007bff; /* Navbar background color */
    padding: 1rem;
    width: 100%; /* Optional width for a more compact look */
}
.nav-link, .dropdown-item {
    color: white !important; /* Set link color to white */
}
.dropdown-menu {
    background-color: #0056b3; /* Dropdown background color */
}
.dropdown-item:hover {
    background-color: #004085; /* Hover effect for dropdown items */
    color: #fff !important;
}
/* Adjust vertical position */
.navbar-container {
    margin-top: 100px; /* Adjust this value to move the navbar up or down */
}



/* Hero Section */
.hero {
    margin-top: 1px;
    text-align: center;
    color: #b85151;
    height: 50vh;
    padding: 50px;
    width: 100%;
    background-color: rgba(187, 42, 42, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Title */
.hero h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.features span {
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Call-to-Action Button */
.cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Trial Info */
.trial-info {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #ffffff;
    opacity: 0.8;
}




h1 {
    font-size: 2rem;
    font-weight: bold;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

ul li {
    margin-bottom: 10px;
}

ul li strong {
    color: #007bff;
}
